<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Liste Voiture</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
    <div class="header color_primaire">
        <div>
           <h1 class="header_titre"><a th:href="@{/}">Voiture Deluxe</a></h1>
        </div>
        <div><a th:href="@{/voitures}">Admin</a></div>
     </div>

    <div class="block_liste_voiture">
        <h1>Liste des Voitures</h1>
        <a href="ajouterVoiture"><button class="liste_voiture_button color_secondaire">Ajouter une voiture</button></a>
        <br /><br />
        <div>
            <table border="1" class="liste_voiture_tableau color_primaire">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>immatriculation</th>
                    <th>Catégorie</th>
                    <th>Marque</th>
                    <th>Modèle</th>
                    <th>Couleur</th>
                    <th>Prix réservation</th>
                    <th>Prix/Km</th>
                    <th>Chevaux fiscaux</th>
                    <th>Url image</th>
                </tr>
                <tr th:each="voiture : ${voitures}">
                    <td th:utext="${voiture.id}">...</td>
                    <td th:utext="${voiture.nom}">...</td>
                    <td th:utext="${voiture.immatriculation}">...</td>
                    <td th:utext="${voiture.categorie}">...</td>
                    <td th:utext="${voiture.marque}">...</td>
                    <td th:utext="${voiture.modele}">...</td>
                    <td th:utext="${voiture.couleur}">...</td>
                    <td th:utext="${voiture.prixReservation}">...</td>
                    <td th:utext="${voiture.prixKm}">...</td>
                    <td th:utext="${voiture.chevauxFiscaux}">...</td>
                    <td th:utext="${voiture.urlImage}">...</td>
                    <td><a th:href="@{'/modifierVoiture/' + ${voiture.id}}"><button class="liste_voiture_button_tableau color_secondaire">Modifier</button</a></td>
                    <td><a th:href="@{'/supprimerVoiture/' + ${voiture.id}}"><button class="liste_voiture_button_tableau color_red">Supprimer</button></a></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>