<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8" />
   <title>Bienvenu</title>
   <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
   <div class="header color_primaire">
      <div><h1 class="header_titre">Voiture Deluxe</h1></div>
      <div><a th:href="@{/voitures}">Admin</a></div>
   </div>  

   <div th:each="voiture : ${voitures}" class="color_tertiaire">
      <a th:utext="${voiture.nom}"></a>
   </div>
</body>

</html>